body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom right, #ffffff 0%, #18a3e4 100%);
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(46, 114, 0);
    margin: 0;
}

nav{
    
    padding: 1rem;
    padding-right: 450px;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

nav .logo img {
    height: 100px; 
    padding-left: 150px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav h1{
    color: rgb(0, 117, 138);
    margin: 0;
}

nav ul{
    list-style:none;
    display: flex;
    gap: 2rem;
    margin-right: 140px;;
    text-align: center;
    font-size: 30px;
    
}

nav ul li a {
    color:#000000;
    text-decoration: none;
    text-align: center;
    margin-left: 100px;
    padding-left: auto;

}

nav ul li a:hover {
    text-decoration: underline;
    color: rgb(105, 104, 0);
    text-align: center;
    text-align: center;
}


.contents {
    padding: 2rem;
    text-align: left;
}

.contents h2 {
    margin-bottom: 1rem;
}

.contents ul li {
    color: rgb(0, 0, 0);
}

.contents a {
    color: rgb(3, 122, 112);
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.animation-container {
    display: block;
    position: relative;
    width: 800px;
    max-width: 100%;
    margin: 20px auto 0 auto;
}

.animation-container .lightning-container {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    transform: translateY(-50%);
}

.animation-container .lightning-container .lightning {
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    transform-origin: 6px 6px;
    animation-name: woosh;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-direction: alternate;
}

.animation-container .lightning-container .lightning.white {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 50px 50px 0px rgba(255, 255, 255, 0.3);
}

.animation-container .lightning-container .lightning.red {
    background-color: #fc7171;
    box-shadow: 0px 50px 50px 0px rgba(252, 113, 113, 0.3);
    animation-delay: 0.2s;
}

.animation-container .boom-container {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    transform: translateY(-50%);
    left: 200px;
    top: -145px;
}

.animation-container .boom-container .shape {
    display: inline-block;
    position: relative;
    opacity: 0;
    transform-origin: center center;
}

.animation-container .boom-container .shape.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    transform-origin: 50% 80%;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    margin-left: -15px;
    border-width: 0 2.5px 5px 2.5px;
    border-color: transparent transparent #42e599 transparent;
    animation-name: boom-triangle;
}

.animation-container .boom-container .shape.triangle.big {
    margin-left: -25px;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #fade28 transparent;
    animation-name: boom-triangle-big;
}

.animation-container .boom-container .shape.disc {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #d15ff4;
    animation-name: boom-disc;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.animation-container .boom-container .shape.circle {
    width: 20px;
    height: 20px;
    animation-name: boom-circle;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    border-radius: 100%;
    margin-left: -80px;
}

.animation-container .boom-container .shape.circle.white {
    border: 1px solid rgb(175, 0, 0);
}

.animation-container .boom-container .shape.circle.big {
    width: 40px;
    height: 40px;
    margin-left: 0px;
}

.animation-container .boom-container .shape.circle.big.white {
    border: 2px solid rgb(15, 8, 8);
}

.animation-container .boom-container .shape:after {
    background-color: rgba(178, 215, 232, 0.2);
}

.animation-container .boom-container .shape.triangle, .animation-container .boom-container .shape.circle, .animation-container .boom-container .shape.circle.big, .animation-container .boom-container .shape.disc {
    animation-delay: 0.38s;
    animation-duration: 3s;
}

.animation-container .boom-container .shape.circle {
    animation-delay: 0.6s;
}

.animation-container .boom-container.second {
    left: 485px;
    top: 155px;
}

.animation-container .boom-container.second .shape.triangle, .animation-container .boom-container.second .shape.circle, .animation-container .boom-container.second .shape.circle.big, .animation-container .boom-container.second .shape.disc {
    animation-delay: 1.9s;
}

.animation-container .boom-container.second .shape.circle {
    animation-delay: 2.15s;
}

@keyframes woosh {
    0% {
        width: 12px;
        transform: translate(0px, 0px) rotate(-35deg);
    }
    15% {
        width: 50px;
    }
    30% {
        width: 12px;
        transform: translate(214px, -150px) rotate(-35deg);
    }
    30.1% {
        transform: translate(214px, -150px) rotate(46deg);
    }
    50% {
        width: 110px;
    }
    70% {
        width: 12px;
        transform: translate(500px, 150px) rotate(46deg);
    }
    70.1% {
        transform: translate(500px, 150px) rotate(-37deg);
    }
    85% {
        width: 50px;
    }
    100% {
        width: 12px;
        transform: translate(700px, 0) rotate(-37deg);
    }
}

@keyframes boom-circle {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    30% {
        opacity: 0;
        transform: scale(3);
    }
}

@keyframes boom-triangle-big {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    40% {
        opacity: 0;
        transform: scale(2.5) translate(50px, -50px) rotate(360deg);
    }
}

@keyframes boom-triangle {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    30% {
        opacity: 0;
        transform: scale(3) translate(20px, 40px) rotate(360deg);
    }
}

@keyframes boom-disc {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    40% {
        opacity: 0;
        transform: scale(2) translate(-70px, -30px);
    }
}


.content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #002a35;
    width: 100%;
}

.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
    position: relative;
}

.content__container:before {
    content: '[';
    left: 0;
}

.content__container:after {
    content: ']';
    position: absolute;
    right: 0;
}

.content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.content__container__list__item {
    line-height: 40px;
    margin: 0;
}

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
@media (max-width: 1200px) {
    nav ul {
        gap: 4rem; 
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    .contents {
        padding: 1.5rem; 
    }

    .content-box {
        padding: 1.5rem; 
        margin: 1.5rem; 
    }
}


@media (max-width: 768px) {
    nav {
        flex-direction: column; 
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem; 
        width: 100%; 
    }

    .nav ul li {
        margin: 0;
    }

    .contents {
        padding: 1rem; 
    }

    .content-box {
        padding: 1rem; 
        margin: 1rem;
    }

    .center {
        width: 75%;
    }
}

@media (max-width: 480px) {
    nav .logo img {
        height: 40px; 
    }

    nav ul {
        gap: 0.5rem; 
    }

    nav ul li a {
        font-size: 1rem;
    }

    .contents {
        padding: 0.5rem; 
    }

    .content-box {
        padding: 0.5rem; 
        margin: 0.5rem; 
    }

    .center {
        width: 100%; 
    }
}
